@charset "Utf-8";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Content page*/
#content-page {
    width: 1140px;
    margin-left: 16px;
	background-color: #eeeeee;
    border-radius: 8px;
}
/*Slide bar*/
#slide-bar {
	width: 300px;
	background-color: #eeeeee;
	float: left;
}

/*Category*/
#category {
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}
#category ul li {
	list-style: none;
	text-align: left;
	padding-left: 5px;
}
#category ul li a {
    font-size: 16px;
	color: #560702;
	list-style: none;
}

#category ul li a:hover {
	color: #ffb62e;
}

/*Main content*/
#main-content {
	background-color: #eeeeee;
}

@media (min-width: 786px) {
    #books-detail {
        width: 15%;
        margin-left: 20px;
        float: left;
    }

    div.home-table #books-detail img {
        width: 130px;
        height: 200px;
        margin-left: 5px;
        margin-right: 10px;
    }

    #books-detail img {
        width: 130px;
        height: 200px;
        margin: 10px auto;
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
  .book-detail-content dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .book-detail-content dl {
      float: left;
  }
  .book-detail-content dd {
    margin-left: 10px;
  }
  .book-detail-content img {
      margin-left: 10px;
  }
  .book-detail-content dd:before,
  .book-detail-content dd:after {
    display: table;
    content: " ";
  }
  .book-detail-content dd:after {
    clear: both;
  }
  .book-detail-content dd:before,
  .book-detail-content dd:after {
    display: table;
    content: " ";
  }
  .book-detail-content dd:after {
    clear: both;
  }

  .book-detail-content dd.book-name {
      font-style:initial;
      color: #ff0000;
  }

  .book-detail-content dd.price {
      font-style:oblique;
      color: #ff0000;
  }
}

#book-cover img{
    width: 270px;
    height: 350px;
    float: left; 
}

div.details-of-book .content {
    margin-left: 350px;
    width: 600px;
}
dl.content-details dl {
    float: left;
}
dl.content-details dt {
    float: left;
}
dl.content-details dd {
    margin-left: 150px;
}
