@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page make by Hung Nguyen. <br /> Young bookstore is a bookstore for young people who is the most future of human. </p>
<strong>Improve your knowleged to make your future and make us pround of you! </strong>