@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hung Nguyen<br />
    Ho Chi Minh city, Vietnam<br />
    <abbr title="Phone">P:(+84) 168.557.3272</abbr>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:10520395@gm.uit.edu.vn">10520395@gm.uit.edu.vn</a><br />

</address>